<!DOCTYPE html>
<html>
<head>
<title>Self paced reading stuff</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h3 style='font-family: Garamond;'>This is an API for reading dashed sentences and welcome...</h3>
</body>
<br></br>
<div id ="sent" style = 'text-align: center;font-size:20px;font-family: Garamond;'>{{sent}}</div>	
<p id ="err" style ="text-align: center; color:blue;visibility: hidden;font-size:15px;font-style: italic;">f for <em>YES</em> and j for <em> NO</em></p>
<br></br>
<ul style='color: #00CED1;'>
<li><b>Reading from .csv is being developed</b></li>
<li><b>The authentication is also being developed</b></li>
<li><b>Press R to see the reading time of each word. These data will be sent to the backend</b></li>
</ul>
<script>
var allData=[];
var uID = '';
var sID = '';
var wordList;
var loadS =1;
var loadW =0;
var loadQ=0;
var loadA=0;
var InQ =0;
var scnt = 0;
var wcnt = 0;
var curW ='';
var answer = '';
var question ='';
var prevKT = 0;
var RT = 0;
var K = '';

function show(ID){
    var err = document.getElementById(ID);
    if(err.style.visibility === "hidden"){
        err.style.visibility = "visible";
    }
}
function hide(ID){
    var err = document.getElementById(ID);
    if(err.style.visibility === "visible"){
        err.style.visibility = "hidden";
    }
}

document.addEventListener("keypress",
function(e){
	if(InQ==1){
		if(e.key == 'f'|e.key == 'F'){
			K = 'yes'; RT = Date.now()-prevKT; prevKT = Date.now();;
			hide('err');loadAnswer();InQ=0;}
		else if(e.key == 'j'|e.key == 'J'){
			K = 'no'; RT = Date.now()-prevKT; prevKT = Date.now();
			hide('err');loadAnswer();InQ=0;}
		else{show('err');}
	}
	else{
		if(e.key == 'Enter'){
			// loadS must be excuted at the begeining since it updates the states
			if(loadS==1){loadSent();}
			if(loadA==1){loadAnswer();}
			if(loadQ==1){loadQuestion();scnt+=1;loadQ=0;}
			if(loadW==1){loadWord();}	
		
		}
	}
})

// function sleep(milliseconds) {
//   const date = Date.now();
//   let currentDate = null;
//   do {
//     currentDate = Date.now();
//   } while (currentDate - date < milliseconds);
// }
function bunchData(){
	let row = {W:curW,RT: RT};
	return row;
}

function loadAnswer(){
		InQ =0;loadA=0;loadS=1;
		hide('err');
		if (K == answer){document.getElementById("sent").innerHTML = "You are right!";}
		else{document.getElementById("sent").innerHTML = "Wrong..Press Enter once to continue.";}
}

function loadWord(){

	let sent = '';
	let len = wordList.length;
	for(let i =0; i<len; i++){
		if (i==wcnt){sent += wordList[i]+' ';}
		else{sent+= '_'.repeat(wordList[i].length)+' ';}
	}
	document.getElementById("sent").innerHTML = sent;
	// stop loadingwords and start loading the question
	RT = Date.now()-prevKT; prevKT = Date.now();
	if(wcnt>0){curW = wordList[wcnt-1];let g = bunchData();allData.push([g.W,g.RT]);}
	if(wcnt==len-1){loadW=0;loadQ=1;}
	else{wcnt+=1;}

}

function loadQuestion(){
	// update the reading time of the last word
	show('err');
	RT = Date.now()-prevKT; prevKT = Date.now();
	curW = wordList[wordList.length-1];
	let g = bunchData();allData.push([g.W,g.RT]);

	if(question.length<3){
		InQ=0;loadA=0;
		document.getElementById("sent").innerHTML ='No question: press Enter once to continue';
		hide('err');
		loadS=1;
		}
	else{InQ=1;document.getElementById("sent").innerHTML = question;}
	//after question, increase sentence count
}

function loadSent()
{
    $.ajax({
        url:'/go/'+scnt+'/'+wcnt,
        type: 'POST',
        dataType: 'json',
        success: function(data){
			 wordList = data.s.split(' ');
			 scnt = data.scnt;
	         question=data.q;
	         answer = data.a;
	         let s = '';
	         for(let i =0;i<wordList.length;i++){
	         	s+='_'.repeat(wordList[i].length)+' ';
	         }
			 document.getElementById("sent").innerHTML = s;
			 wcnt=0;
			 loadW=1;
			 loadS=0;
			 loadQ=0;
			 loadA=0;
			 prevKT=Date.now();
                }
          });
}

document.addEventListener("keypress",function(e){if(e.key == 'q'|e.key == 'Q'){alert(allData);}})
</script>
</html>
